:root {
  --footer-bg-color: #333;
  --footer-text-color: #fff;
  --link-hover-color: #0099cc;
}

.footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px 10px;
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  font-family: 'Arial', sans-serif;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.1);
}

.footer-content {
  flex: 1;
  display: flex;
  flex-direction: column;  /* Stack content pieces vertically within each section */
  align-items: flex-start; /* Align items to the start */
}

h4 {
  border-bottom: 2px solid var(--footer-text-color);
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.footer-links {
  list-style: none;
  display: flex; /* Make links horizontal on desktop */
  gap: 15px;
}

.footer-links li {
  margin-bottom: 0; /* Reset the margin */
}

.footer-links a {
  text-decoration: none;
  color: var(--footer-text-color);
  transition: color 0.2s ease;
}

.footer-links a:hover {
  color: var(--link-hover-color);
}

.social-links {
  display: flex;
  gap: 10px;
}

.social-links a {
  font-size: 20px;
  color: var(--footer-text-color);
  transition: color 0.2s ease, transform 0.2s ease;
}

.social-links a:hover {
  color: var(--link-hover-color);
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .footer-content {
    width: 100%;
    margin-bottom: 15px;
  }

  .footer-links {
    flex-direction: column; /* Make links vertical on mobile */
  }

  .footer-links li {
    margin-bottom: 10px; /* Restore the margin */
  }

  h4 {
    font-size: 16px;
  }

  .social-links a {
    font-size: 18px;
  }

  .copyright-section {
    font-size: 12px;
    margin-bottom: 15px;  /* Add spacing after the copyright section on mobile */
  }
}
