:root {
  --footer-bg-color: #333;
  --footer-text-color: #fff;
  --link-hover-color: #0099cc;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px;
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  font-family: 'Arial', sans-serif;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.1);
}

.footer-content {
  flex: 1;
}

h4 {
  border-bottom: 2px solid var(--footer-text-color);
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.footer-links {
  list-style: none;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: var(--footer-text-color);
  transition: color 0.2s ease;
}

.footer-links a:hover {
  color: var(--link-hover-color);
}

.social-links {
  display: flex;
  gap: 10px;
}

.social-links a {
  font-size: 20px;
  color: var(--footer-text-color);
  transition: color 0.2s ease, transform 0.2s ease;
}

.social-links a:hover {
  color: var(--link-hover-color);
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start;
    padding: 15px;
  }

  .footer-content, .social-links {
    width: 100%; /* Take full width */
    margin-bottom: 15px; /* Add spacing between stacked elements */
  }

  .footer-links {
    flex-direction: column; /* Stack links vertically */
  }

  .footer-links li {
    margin-right: 0; /* Reset margin for vertical stacking */
  }

  h4 {
    font-size: 16px; /* Reduce font size for smaller screens */
  }

  .social-links a {
    font-size: 18px; /* Slightly reduce font-size for icons */
  }

  .copyright-section {
    font-size: 12px; /* Reduce font size for smaller screens */
  }
}
